body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

.title {
  background-color: #ff4c68;
  color: #fff;
}

.fluid-container {
  padding: 1% 15%;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  text-align: left;
}

/* Navigation bar */

.navbar {
  padding-bottom: 4.5rem;
}

#navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

#nav-item {
  padding: 0 18px;
  font-size: 1.2rem;
}

/* Download buttons */
#download-button {
  margin: 5% 3% 5% 0;
}

#title-image {
  width: 60%;
  transform: rotate(25deg);
}

#email {
  width: 30%;
  text-align: center;
}

.form {
  align-items: center;
}

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 30%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial_name{
  color: white;
}

.carousel-item {
  padding: 7% 15%;
}

#book {
  padding: 7% 15%;
}

#footer{
  background-color: #ef8172;
  padding: 7% 15%;
  color: #fff;
}

.socials{
  margin: 20px 10px;
  color: #fff;
}

@media (max-width: 992px) {
  .title {
    align-items: center;
  }
  #title-image {
    position: static;
    transform: rotate(0);
  }
}
